<%- model_class = Faculty -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:fid) %></th>
      <th><%= model_class.human_attribute_name(:short_name) %></th>
      <th><%= model_class.human_attribute_name(:camp) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @faculties.order(:short_name).each do |faculty| %>
      <tr>
        <td><%= link_to faculty.fid, faculty %></td>
        <td><%= link_to faculty.short_name, faculty %></td>
        <td><%= link_to faculty.camp.name, camp_path(faculty.camp) %></td>
        <td><%= faculty.address %></td>
        <td><%= link_to faculty.url, faculty.url.to_s %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_faculty_path(faculty), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      faculty,
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_faculty_path,
            :class => 'btn btn-primary' %>
