<%- model_class = Faculty -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:fid) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:camp) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= link_to faculty.id, organization_faculty_path(@organization, faculty) %></td>
        <td><%= link_to faculty.fid, organization_faculty_path(@organization, faculty) %></td>
        <td><%= link_to faculty.name, organization_faculty_path(@organization, faculty) %></td>
        <td><%= link_to faculty.camp.name, organization_camp_path(@organization, faculty.camp) %></td>
        <td><%= faculty.address %></td>
        <% if faculty.url.present? && faculty.url.length != 0 %>
            <td><%= link_to faculty.url, faculty.url %></td>
        <% else %>
            <td><%= puts('') %></td>
        <% end %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_organization_faculty_path(@organization, faculty), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      organization_faculty_path(@organization, faculty),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_organization_faculty_path(@organization),
            :class => 'btn btn-primary' %>
